.footer {
    background-color: #2C6E56;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.logo-court {
    height: 70px; 
    width: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 2%;
}

.footer-right {
    display: flex;
    gap: 12px;
    padding: 60px;
}

.footer-right a {
    color: white;
    font-size: 16px;

}

.encadrement button {
    background-color: #2C6E56;
    color: #ffffff;
    border: solid 2px #D6BA59;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
}