.footer {
    background-color: #2C6E56;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-top {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.logo-court {
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    left: 2%;
}

.footer-bottom {
    display: flex;
    gap: 12px;
    padding: 15px;
    border-top: 1px solid #ffffff;
    width: 90%;
    justify-content: center;
}

.footer-bottom a {
    color: white;
    font-size: 16px;
}

.encadrement button {
    background-color: #2C6E56;
    color: #ffffff;
    border: solid 2px #D6BA59;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
}
