.container{
    max-height: 500px;
}

.footer {
    background-color: #2C6E56;
    color: white;
    display: flex;
    flex-direction: column;
}

.h4{
    font-size: 24px;
    font-style: bold;
}

.footer-top {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.logo-court img {
    margin-right: auto;
    width: 250px;
    height: auto;
}

.info li {
    margin-top: 25px;
    font-size: 24px;
    list-style: none;
}

.droite {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.droite .encadrement button {
    background-color: #2C6E56;
    color: #ffffff;
    border: solid 2px #D6BA59;
    padding: 20px 24px;
    font-size: 18px;
    cursor: pointer;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    border-top: 1px solid #ffffff;
}

.footer-bottom a {
    color: white;
    font-size: 16px;
    margin: 0px;
}

.droite p { 
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.icon{
    display: flex;
    flex-direction: row;
    ;
}

.logo-bdx{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: auto;
}
