.expositions {
    margin-top: 8%;
}

.titre-ligne{
    display: flex;
    align-items: center;     /* aligne verticalement */
    gap: 1rem;
    padding-bottom: 10%;
}

.titre-ligne h2 {
    margin-left: 2%;
    margin-right: 2%;
}

.exposition-card h3 {
    padding-bottom: 5%;
}

.separateur {
    flex-grow: 1;
    height: 0.22rem;
    background-color: #000;
}

.exposition-card {
    display: flex;           /* active le flex horizontal */
    align-items: center;     /* centre verticalement le texte et l’image */
    gap: 2%;                 /* espace entre texte et image */
    margin-bottom: 3%;       /* espace entre les cartes */
    flex-wrap: wrap;         /* permet la pile sur mobile */
    flex-direction: row;
}

.exposition-text {
    flex: 1 1 50%;           /* prend 50% ou plus selon l’espace */
    padding-left: 3%;
}

.exposition-image {
    flex: 1 1 45%;
    background-color: #2C6E56;
    padding: 5% 0% 0% 5%;
    box-sizing: border-box;
}

.exposition-image img {
    width: 100%;             /* image responsive */
    height: auto;
    display: block;
}

