body {
    background-color: #ffffff;
    font: 18px 'Figtree', sans-serif;
    margin: 0;
}

h1 {
    font-size: clamp(36px, 6vw, 60px);
    color: #000000;
    margin: 0 0 10px;
}

h2 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin: 0 0 16px;
}

p {
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
    margin: 0 0 24px;
}

/* ================= HERO ================= */

.hero-section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.hero-section > div {
    max-width: 600px;
    flex-shrink: 0;
}

.hero-section p {
    font-size: clamp(20px, 3vw, 35px);
    color: #424242;
    margin-top: 5px;
}

.hero-section img {
    width: clamp(400px, 45vw, 1000px);
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 100px;
}

/* ================= SECTIONS EXPOSITION ================= */

.exposition-part {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto 100px;
    padding: 20px;
}
.exposition-part.image-left .image-shadow.shadow-top-left {
    margin-top:20px;
}
.exposition-part > div {
    flex: 1;
}

.exposition-part.image-left .image-shadow {
    order: -1;
}



/* ================= IMAGE + RECTANGLE ================= */

.image-shadow {
    position: relative;
    display: inline-block;
    width: clamp(420px, 45vw, 750px);
    flex-shrink: 0;
    z-index: 0;
}

.image-shadow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2c6e56;
    z-index: -1;
}

.shadow-top-left::before {
    top: -20px;
    left: -80px;
}

.shadow-bottom-right::before {
    top: 40px;
    left: 80px;
}

.image-shadow img {
    width: 100%;
    height: auto;
    display: block;
}

.image-shadow::before,
.image-shadow img {
}


/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {
    .hero-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-section img {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .exposition-part {
        flex-direction: column;
        gap: 40px;
        margin-bottom: 80px;
    }

    .image-shadow {
        width: 100%;
    }

    .shadow-top-left::before,
    .shadow-bottom-right::before {
        top: 20px;
        left: 20px;
    }
}
