.container {
    max-height: 500px;
}

.footer {
    background-color: #2C6E56;
    color: white;
    display: flex;
    width: 100%;
    height: 523px;
    flex-direction: column;
}

h4 {
    font-size: 24px;
    font-style: bold;
}

.footer-top {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 50px;
    margin-right: 50px;
}

.logo-court img {
    margin-right: 0;
    width: 250px;
    height: auto;
    margin-left: 90px;
    padding-right: 90px;
}

.infos-pratiques {
    margin-top: 85px;
}

.droite {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.droite .encadrement button {
    background-color: #2C6E56;
    color: #ffffff;
    border: solid 2px #D6BA59;
    padding: 20px 24px;
    font-size: 18px;
    cursor: pointer;
    font-style: bold;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    border-top: 1px solid #ffffff;
}

.footer-bottom a {
    color: white;
    font-size: 16px;
    margin: 0px;

}

.droite p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-right: 0;
}

.icon {
    display: flex;
    flex-direction: row;
}

.logo-bdx {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 73px;
    margin-bottom: 45px;
    height: auto;
    align-items: end;

}

/* ==================== RESPONSIVE ==================== */

@media (max-width: 768px) {

    .footer {
        height: 1010px; 
        flex-direction: column;
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        margin: 24px 20px 0;
    }

    .logo-court img {
        margin: 0;
        width: 180px;
        height: auto;
    }

    .infos-pratiques {
        margin-top: 0;
    }

    .infos-pratiques ul {
        padding: 0;
        margin: 5px 0px 18px;
    }

    .infos-pratiques li {
        font-size: 18px;
        
    }

    .droite {
        align-items: flex-start;
        margin-left: 0;
        gap: 20px;
    }

    .droite .encadrement button {
        padding: 10px 18px;
        font-size: 18px;
        font-style: bold;
    }

    .droite p {
        font-size: 24px;
    }

    .icon {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .icon img {
        width: 28px;
        height: 28px;
    }

    .logo-bdx {
        margin-top: 8px;
        margin-bottom: 25px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 8px;
        padding: 18px 20px 24px;
    }

    .footer-bottom a {
        margin: 0;
        font-size: 16px;
        flex-direction: row;
        
    }
}
