html {
    background-color: white;
}
body {
    font-family: 'Figtree', sans-serif;
}

.header nav ul li {
    border: 1px solid black;
    display: inline;
}

.main{
    display: block;
}

/* Définition de la font Strawford */
@font-face {
    font-family: 'Strawford';
    src: url('fonts/strawford-regular-webfont.woff2') format('woff2'),
         url('fonts/strawford-regular-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3 {
    font-family: 'Strawford', sans-serif;
}

.rectangle {
    width: 1440px;
    height: 210px;
    background-color: #2C6E56;
}

