body {
    background-color: #ffffff;
    font: 18px 'Figtree', sans-serif;
}

/* Titre */
h1 {
    font-size: 60px;
    color: #000000;
}
/* Sous-titre */
h2 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}
/* Texte paragraphe */
p {
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
}

/* Section HERO */

.hero-section {
    text-align: left;
    padding: 40px;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.hero-section h1 {
    font-size: 76px;
    color: #000000;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 35px;
    color: #424242;
    max-width: 800px;
}

.hero-section img {
    margin-left: 20px;
    margin-top: 10px;
}


/* Section Exposition */
.exposition-part {
    vertical-align: end;
    margin-right: 10px;
    display: flex;
    width: fit-content;
    padding: 20px;
}

.image-left img {
    margin-right: 20px;
    margin-top: 10px;
    max-width: 500px;
    order : -1;

}

.exposition-part .image-left p {
    padding-right: 400px;
}


.image-right img {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 500px;
}   
.without-image {
    text-align: left;
}